* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

.pomodoro-clock{
    height: 100vh;
    background-color: tomato;
    color: #fff;
    position: relative;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-btn {
    flex: 1;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 22px;
    color: #fff;
}

.custom-form {
    flex: 1;
    display: flex;
}

input[name="time-input"] {
    flex: 1;
    height: 100%;
}

.timer-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
}

.end-time {
    font-size: 2rem;
}