* {
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

.pomodoro-clock{
    height: 100vh;
    background-color: #ff6347;
    color: #fff;
    position: relative;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-btn {
    flex: 1;
    cursor: pointer;
    border: 0;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    transition: background 0.5s ease-in-out;
    border-bottom: 4px solid #ff3c1a;
}

.control-btn:hover{
    background: #ff3c1a;
}

.custom-form {
    flex: 1;
    height: 100%;
    display: flex;
}

input[name="time-input"] {
    flex: 1;
    padding: 2rem;
    border: 0;
}

.timer-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 5.5rem;
    margin-bottom: 1.5rem;
}

.end-time {
    font-size: 3rem;
}